
Body{
    background: url('../images/login_background.png') no-repeat center center fixed;
    background-size: cover;
}
div.loginHeader{
    text-align: center;
    margin-bottom: 50px;
}
div.loginHeader h1{
    font-size: 100px;
    color: rgb(246, 58, 58);
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
div.loginHeader p{
    color: aliceblue;
    font-size: 30px;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
}
div.loginHeader p:after{
    content: '';
    display: block;
    height: 5px;
    background: #f685a2;
    width: 50%;
    margin: 0 auto;
}
div.loginBody form{
    margin: 0 auto;
    width: 450px;
    background: rgba(0,0,0,.5);
    padding: 50px;
    border: 2px solid #fff;
    border-radius: 8px;
}
div.loginInputsContainer{
    margin-top: 20px;
}

div.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
div.loginInputsContainer input{
    height: 30px;
    width: 100%;
    border: 2px solid #d40339;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
div.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}
div.loginButtonContainer button{
    font-size: 20px;
    padding: 10px 40px;
    background: #f685a2;
    border: none;
    color: #fff;
}